html {
    scroll-behavior: smooth;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(img/backnumberBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#bungkus{
    margin: 3% 5%;
}

/* ============================================= */

#judul{
    width: 75%;
    color: #121212;
}

#judul h1{
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    margin-bottom: 0%;
}

/* ============================================= */

#navbar{
    background-color: #121212;
    padding: 0.1em 0em;
    border-radius: 10px;
}

#navbar a{
    color: whitesmoke;
    text-decoration: none;
    
}


li {
    display: inline;
    padding-right: 1em;
}

/* ============================================= */

#pencarian{
    width: fit-content;
    color: whitesmoke;
    position: relative;
    float: right;
    right: 1em;
    bottom: 2.6em;
}

#input{
    border-radius: 7px;
    padding: 0.5em;
    border: none;    
}

/* ============================================= */

#content{
    background-color: whitesmoke;    
    border-radius: 10px;
    padding: 0.5em 3em;
    width: 60%;
    float: left;
}

#content p{
    text-align: justify;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;    
    height: 360px;
}

/* ============================================= */

#sidebar{
    background-color: whitesmoke;    
    border-radius: 10px;
    padding: 0em 1.5em;
    width: 25%;
    float: right;
    position: relative;
    /* ====== anehh coiiii ====== */
    bottom: 0.5em;
    /* ====== anehh coiiii ====== */
}

#sidebar p{
    display: inline;
}

#sidebar a{
    text-decoration: none;
}

/* ============================================= */

#flickr{
    background-color: whitesmoke;    
    border-radius: 10px;
    padding: 0em 1.5em;
    width: 25%;
    float: right;
    position: relative;
    margin-top: 1em;
}

.foto{
    text-align: center;
    width: fit-content;
    float: left;
    padding-right: 0.5em;
}

.foto img{
    width: auto;
}

/* =======================MEDIA QUERIES====================== */

@media screen and (max-width: 980px) {
    #bungkus {
        margin: 1% 2%;
    }

    /* +++++++++++++++++++++++++++++++ */

    #content {
        width: 50%;
    }

    /* +++++++++++++++++++++++++++++++ */

    #sidebar{
        width: 25%;
    }

    #sidebar a{
        font-size: small;
    }

    #sidebar p{
        font-size: small;
    }

    /* +++++++++++++++++++++++++++++++ */

    #flickr{
        width: 25%;
    }

    .foto{
        float: none;
        display: inline-block;
    }

    .foto a p{
        font-size: small;
    }
}

/* untuk ukuran 700px atau di bawahnya */
@media screen and (max-width: 700px) {
    #bungkus {
        margin: 1% 2%;
    }

    /* +++++++++++++++++++++++++++++++ */

    #content {
        width: 40%;
    }

    iframe{
        height: 240px;
    }

    /* +++++++++++++++++++++++++++++++ */

    #sidebar{
        width: 30%;
    }

    /* +++++++++++++++++++++++++++++++ */

    #flickr{
        width: 30%;
    }

    .foto{
        float: none;
        display: inline-block;
    }

    .foto a p{
        font-size: small;
    }
}

/* untuk ukuran 480px atau di bawahnya */
@media screen and (max-width: 480px) {
    #bungkus{
        margin: auto;
    }

    #header{
        font-size: smaller;
    }

    /* +++++++++++++++++++++++++++++++ */
    
    #content{
        width: auto;
        float: none;
        font-size: smaller;
        padding: 1.5em;
        padding-top: 0.5em;
    }

    iframe{
        height: 144px;
    }

    /* +++++++++++++++++++++++++++++++ */

    #sidebar{
        width: auto;
        float: none;
        font-size: smaller;
    }

    #sidebar h2{
        padding-top: 1em;
    }

    /* +++++++++++++++++++++++++++++++ */

    #flickr{
        width: auto;
        float: none;
        padding-top: 0.5em;
        padding-bottom: 1em;
        margin: 0.25em auto;
        font-size: smaller;
        text-align: center;
    }

    #flickr h2{
        text-align: left;
    }

    .foto{
        float: none;
        display: inline-block;
    }

    /* +++++++++++++++++++++++++++++++ */

    #pencarian{
        width: fit-content;
        color: whitesmoke;
        position: absolute;
        right: 1.5em;
        top: 1.5em;
        
    }
    
    #input{
        border-radius: 7px;
        size: 7;
        border: none;    
    }
}


